#header{
    background-color: rebeccapurple;
    height: 100px;
}

#menu{
    background-color: chartreuse;
    height: 80px;
}

#menu ul li {
    list-style: none;
    display: inline;
}

#content{
    height: 600px;
    background-color:green;
}

#footer{
    background-color: rebeccapurple;
    height: 50px;
}

#submenu{
    background-color: coral;

}
#submenu ul li{
    list-style: none;
}